* {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 80px 20px 80px 95px;
  height: 1000px;
  background-color: #f9f9f9;
  
}